.example {
  display: flex;
  height: 350px;
  margin: 10px;
  width: 370px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  height: 16%;
  width: fit-content;
  font-size: x-large;
  margin-top: 80px;
  text-align: center;
}

.info {
  height: 30%;
  width: 270px;
  font-size: large;
  margin-top: 15px;
  text-align: center;
}

.image {
  display: flex;
  height: 200px;
  width: 300px;
  margin: 5% 0% 6% 0%;
  border: 1px solid lightgrey;
  justify-content: center;
}

.gitLink {
  height: 25%;
  width: 420px;
  justify-content: center;
  text-align: center;
  font-size: initial;
  margin-bottom: 10px;
}

a {
  color: white;
}

a:hover {
  color: lightgrey;
}

.tech {
  height: 20%;
  width: 380px;
  font-size: large;
  margin-top: 2px;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .example {
    margin-bottom: 95px;
}
  .info {
    font-size: 16px;

  }

  .gitLink{
    font-size: 16px;
  }
}